li span{
    margin-left: 50px;
    position: absolute;
}
ul li::before{
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
   background-image: url("uncheck.jpg");
   background-size: cover;
   background-position: center;
   left: 3px;
   margin-left: 1.8%;
   /* margin-top: 1%; */

}

ul li.checked::before{
    background-image: url("check.jpg");
}
span:hover{
    background-color: red;
}